<!-- start custom analytics snippet -->
<!-- Google tag (gtag.js) -->
<script type="text/javascript">
    window.MathJax = ({ "tex": { "tags": "ams", "tagSide": "right", "tagIndent": "0.8em", "macros": { "coloneqq": ["\\mathrel{\\vcenter{:}}=", 0], "argmin": ["\\mathop{\\mathrm{arg\\,min\\,}}", 0], "argmax": ["\\mathop{\\mathrm{arg\\,max\\,}}", 0] }, "inlineMath": [["$", "$"], ["\\(", "\\)"]], "displayMath": [["$$", "$$"], ["\\[", "\\]"]] }, "options": {}, "loader": {} });
</script>
<script type="text/javascript" async="" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    charset="UTF-8"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3Y9VRE2QNL"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3Y9VRE2QNL');
</script>
<!-- free-counters.org-->
<script type="text/javascript" src="https://www.free-counters.org/count/ge5c"></script><br>
<a href='https://www.easybooking.eu/'>Hotel Software</a>
<script type='text/javascript' src='https://whomania.com/ctr?id=aa01fb31c18e484432805454c21e052f8f44572a'></script>
<!-- end custom analytics snippet -->